@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div.img-wrapper img {
    position: relative;
    height: 250px;
    margin: auto;
}

div.img-wrapper {
    position: relative;
}